
\.idea/

NUnitTests/bin/

NUnitTests/obj/

oscript-component/bin/

oscript-component/obj/

packages/

TestApp/bin/

TestApp/obj/
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
/SshDataProcessor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SshDataProcessor/obj/Debug/SshDataProcessor.csproj.CoreCompileInputs.cache
/SshDataProcessor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SshDataProcessor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SshDataProcessor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
