\.idea/
\.vs/
\.vscode/
src/NUnitTests/bin/
src/NUnitTests/obj/
src/oscript-component/bin/
src/oscript-component/obj/
src/TestApp/bin/
src/TestApp/obj/
test/
build/bin/
*.ospx
map.json
tools/nuget.exe
